/* @import 'frappe-ui/src/style.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Use system fonts instead of Inter */
:root {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  font-family: var(--font-sans);
}